global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
 #   stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000


frontend {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind }}
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    balance roundrobin

{% for server in haproxy_backend_servers %}
{% for port in server.ports %}
    server {{ server.name }}-{{ port }} {{ server.address }}:{{ port }} check
    
{% endfor %}
{% endfor %} 