---
- name: Install common packages
  hosts: all
  become: yes
  tasks:
    - name: Install bind-utils
      package:
        name: bind-utils
        state: present

    - name: Install man
      package:
        name: man
        state: present

    - name: Install man-pages
      package:
        name: man-pages
        state: present

    - name: Install mlocate
      package:
        name: mlocate
        state: present

    - name: Install sysstat
      package:
        name: sysstat
        state: present

    - name: Install git
      package:
        name: git
        state: present